{% extends "layout.html" %}
{% load static %}

{% block title %}
Student Profile
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Favicon -->
    <link href={% static "img/favicon.ico" %} rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href={%static  "lib/animate/animate.min.css" %} rel="stylesheet">
    <link href={%static "lib/owlcarousel/assets/owl.carousel.min.css" %}  rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href={%static "css/bootstrap.min.css" %} rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href={%static "css/style.css" %} rel="stylesheet">
    <link href={%static "css/animate.css" %} rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
    body{
        background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);

    }
</style>
    <!--===============================================================================================-->
    <script>
        function enableEditing() {
            document.getElementById('first_name').disabled = false;
            document.getElementById('last_name').disabled = false;
            document.getElementById('phone').disabled = false;
            document.getElementById('email').disabled = false;
            document.getElementById('editButton').style.display = 'none';
            document.getElementById('submitButton').style.display = 'inline';
            document.getElementById('cancelButton').style.display = 'inline';
            document.getElementById('deleteButton').style.display = 'inline';

        }

        function cancelEditing() {
            location.reload()
        }
        function confirmDelete(event) {
            event.preventDefault(); // Prevent the form from submitting

            if (confirm("Are you sure you want to delete the account?")) {
                // If user confirms, continue with form submission
                document.getElementById("deleteButton").value = "delete";  // Set action value
                console.log("here")
                document.getElementById("update-form").submit();
            } else {
                // If user cancels, do nothing
            }
        }
    </script>
</head>
<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780" >
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">{{ student.first_name }} Profile</h2>
                    <img src={% static  "img/logo.png" %} alt="IMG" class="logo">
                    <form id="update-form" method="post">
                        {% csrf_token %}
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">First Name</label>
                                    <input class="input--style-4" id="first_name" disabled type="text" name="first_name" value="{{ student.first_name }}" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Last Name</label>
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <input class="input--style-4" id="last_name" disabled type="text" name="last_name" value="{{ student.last_name }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">ID</label>
                                    <input class="input--style-4" id="passport_id" disabled type="text" name="passport_id" value="{{ student.passport_id }}" >
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone</label>
                                    <input class="input--style-4" id="phone" disabled type="text" name="phone" value="{{ student.phone }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">E-mail</label>
                                    <input class="input--style-4" id="email" disabled type="email" name="email" value="{{ student.email }}" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group" >
                                    <label class="label">Birthday</label>
                                    <input class="input--style-4" type="text" disabled name="birth_date" value="{{ student.birth_date }}">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <input class="input--style-4" type="text" disabled name="gender" value="{{ student.gender }}">
                                </div>
                            </div>
                            <div class="col-2 d-flex justify-content-between">
                                <div class="input-group col-2">
                                    <label class="label">Coding Level</label>
                                    <input class="input--style-4" type="text" disabled name="level" value="{{ student.level }}">
                                </div>
                                <div class="input-group col-2 d-flex flex-column">
                                    <label class="label">Ask for level up</label>
                                    <button class="btn btn-primary px-4" style="background:#9954ae; border:none; border-radius:8px; font-weight:100;" type="button">Level up</button>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2 d-flex ">
                                <div class="input-group d-flex justify-content-between">
                                    <button class="btn btn-primary px-4" style="background:#9954ae; border:none; border-radius:8px; font-weight:100;" id="editButton" onClick="enableEditing()" type="button">Edit</button>
                                    <button class="btn btn-primary px-3" id="submitButton" style="border-radius:8px; font-weight:100; display:none;" type="submit" name="action" value="submit" >Submit</button>
                                    <button class="btn btn-secondary px-3" id="cancelButton" style="border-radius:8px; font-weight:100; display:none;" type="button" onClick="cancelEditing()"  >Cancel</button><button class="btn btn-danger px-3" id="deleteButton" style="border-radius:8px; font-weight:100; display:none;" type="button" name="action" value="delete" onClick="confirmDelete(event)">Delete</button>                                    
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src={% static "js/main.js" %}></script>
</body>
</html>
{% endblock %}
